<p-toast />

<div class="h-full flex flex-column gap-3">
  <h3 class="text-primary m-0 font-medium">Welcome to Finance Books!</h3>
  <div>
    <p-card
      class="w-full flex-shrink-0"
      [style]="{
        height: innerHeight - 500 + 'px',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div class="p-3" [style]="{ 'background-color': '#f2f4f7' }">
            <h5 class="text-lg font-medium">
              {{ selectedStock.trading_symbol }}
            </h5>
          </div>
          <div class="p-3 flex justify-content-between">
            <div class="flex flex-column justify-content-center">
              <h2 class="font-medium text-3xl">
                {{
                  getLiveItem(selectedStock.instrument_token, "current")
                    ? getLiveItem(
                        selectedStock.instrument_token,
                        "current"
                      ).toFixed(2)
                    : "-"
                }}
              </h2>

              <p
                [ngStyle]="{
                  color:
                    getLiveItem(selectedStock.instrument_token, 'change') < 0
                      ? 'tomato'
                      : 'green'
                }"
              >
                {{
                  getLiveItem(selectedStock.instrument_token, "change") < 0
                    ? ""
                    : "+"
                }}
                {{
                  getLiveItem(selectedStock.instrument_token, "change").toFixed(
                    2
                  )
                }}%
              </p>
            </div>
            @if(selectedChartStatisticData){

            <div class="flex gap-4">
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Open</p>
                <p class="font-semibold">
                  {{ selectedChartStatisticData.open.toFixed(2) }}
                </p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Close</p>
                <p class="font-semibold">
                  {{ selectedChartStatisticData.close.toFixed(2) }}
                </p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Low</p>
                <p class="font-semibold">
                  {{ selectedChartStatisticData.low.toFixed(2) }}
                </p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">High</p>
                <p class="font-semibold">
                  {{ selectedChartStatisticData.high.toFixed(2) }}
                </p>
              </div>
            </div>
            }
          </div>
        </div>
      </ng-template>
      <div id="chart-container"></div>
    </p-card>
  </div>

  <div
    class="flex gap-3 w-full flex-grow-1"
    [style]="{
      height: innerHeight - 670 + 'px'
    }"
  >
    <p-card
      [style]="{
        height: innerHeight - 665 + 'px',
        'min-height': '310px',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
      class="w-full"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div
            class="px-3 pt-3 flex justify-content-between align-items-center"
          >
            <h5 class="text-base font-medium">Nifty 200 stocks</h5>
            <input
              type="text"
              pInputText
              placeholder="Search stock"
              (keyup)="searchStock($event)"
            />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div
          class="px-3 mt-3"
          [style]="{ height: innerHeight - 725 + 'px', 'overflow-y': 'auto','min-height': '248px', }"
        >
          @for (item of nifty200; track $index) { @if($index){
          <p-divider />
          }
          <div class="flex justify-content-between align-items-center">
            <div class="flex align-items-center gap-2">
              <p-button
                icon="pi pi-plus"
                size="small"
                [style]="{
                  padding: '0px',
                  width: '16px',
                  'border-radius': '0px'
                }"
                (onClick)="op.toggle($event)"
                [outlined]="true"
              />
              <p-overlayPanel
                #op
                [style]="{ padding: '0px' }"
                [showCloseIcon]="false"
              >
                <ng-template pTemplate="content" ()>
                  <div class="flex flex-column">
                    <p class="text-sm font-semibold">Select watchList</p>
                    <p-divider />
                    @for (watchList of watchListData; track $index) {
                    <div
                      class="flex justify-content-between align-items-center"
                    >
                      <p class="text-sm my-1">
                        {{ watchList.watchListName }}
                      </p>
                      @if(!watchList.stocks.includes(item)){

                      <i
                        class="pi pi-plus-circle cursor-pointer text-primary"
                        (click)="
                          updateWatchList(op, $event, item, watchList._id)
                        "
                      ></i>
                      }@else {
                      <i
                        class="pi pi-check-circle text-green-500 cursor-pointer"
                        (click)="this.activeTabViewIndex = $index"
                      ></i>
                      }
                    </div>
                    }
                  </div>
                </ng-template>
              </p-overlayPanel>

              <p
                class="text-sm font-normal cursor-pointer"
                (click)="selectingStock(item)"
              >
                {{ item.trading_symbol }}
              </p>
            </div>
            <div class="flex flex-column align-items-end">
              <p>
                {{
                  getLiveItem(item.instrument_token, "current")
                    ? getLiveItem(item.instrument_token, "current")
                    : "-"
                }}
              </p>
              <div
                class="flex text-xs"
                [ngStyle]="
                  getLiveItem(item.instrument_token, 'change') < 0
                    ? { color: 'red' }
                    : { color: 'green' }
                "
              >
                <span class="mr-2">{{
                  (
                    getLiveItem(item.instrument_token, "current") -
                    getLiveItem(item.instrument_token, "close")
                  ).toFixed(2)
                }}</span>

                (<span
                  >{{
                    getLiveItem(item.instrument_token, "change").toFixed(2)
                  }}%</span
                >)
              </div>
            </div>
          </div>

          } @empty {
          <li>There are no items.</li>
          }
        </div>
      </ng-template>
    </p-card>

    <p-card
      [style]="{
        height: '100%',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
      class="w-full flex-grow-1"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div
            class="px-3 py-2 flex justify-content-between align-items-center"
          >
            <div class="flex gap-2">
              <span class="text-base font-medium">My watchlist</span>
              <p-button
                icon="pi pi-plus"
                size="small"
                [style]="{
                  padding: '0px',
                  width: '16px',
                  'border-radius': '0px'
                }"
                (onClick)="createWatchListDialogVisible = true"
                [outlined]="true"
              />
            </div>
            <h5 class="text-base font-medium">
              {{ getWatchListStocksCount() }} Items
            </h5>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="subHeader" [style]="{ padding: '0px' }">
        <p-tabView
          [style]="{ padding: '0px', 'font-size': '12px' }"
          (activeIndexChange)="this.activeTabViewIndex = $event"
          [activeIndex]="activeTabViewIndex"
        >
          @for( watchList of watchListData;track $index){
          <p-tabPanel>
            <ng-template pTemplate="header">
              <div (dblclick)="editWatchList = watchList">
                {{ watchList.watchListName }}
              </div>
            </ng-template>
            @for(stock of watchList.stocks;track $index){ @if($index){
            <p-divider />
            }
            <div class="flex justify-content-between">
              <div class="flex align-items-center gap-2">
                <i
                  class="pi pi-trash cursor-pointer"
                  [style]="{ 'font-size': '14px', color: 'tomato' }"
                  (click)="deleteWatchListItem(watchList, stock)"
                ></i>
                <div>
                  {{ stock.name }}
                </div>
              </div>
              <div class="flex flex-column align-items-end">
                <p>
                  {{
                    getLiveItem(stock.instrument_token, "current")
                      ? getLiveItem(stock.instrument_token, "current")
                      : "-"
                  }}
                </p>
                <div
                  class="flex text-xs"
                  [ngStyle]="
                    getLiveItem(stock.instrument_token, 'change') < 0
                      ? { color: 'red' }
                      : { color: 'green' }
                  "
                >
                  <span class="mr-2">{{
                    (
                      getLiveItem(stock.instrument_token, "current") -
                      getLiveItem(stock.instrument_token, "close")
                    ).toFixed(2)
                  }}</span>

                  (<span
                    >{{
                      getLiveItem(stock.instrument_token, "change").toFixed(2)
                    }}%</span
                  >)
                </div>
              </div>
            </div>
            }
          </p-tabPanel>

          <!--Edit watchlist Dialog boxes -->
          <p-dialog
            header="Edit watchlist name"
            [modal]="true"
            [closable]="false"
            [visible]="watchList._id === editWatchList?._id"
          >
            <div class="flex flex-column gap-2">
              <label class="text-xs" for="watchList">watchlist name </label>
              <input
                #editWatchListName
                pInputText
                id="watchList"
                [value]="editWatchList?.watchListName"
              />
            </div>

            <div class="flex justify-content-end gap-2 mt-3">
              <p-button
                label="Cancel"
                size="small"
                severity="secondary"
                (onClick)="editWatchList = undefined"
              />
              <p-button
                label="Delete"
                size="small"
                severity="danger"
                (onClick)="deleteWatchList()"
              />
              <p-button
                label="Save"
                size="small"
                [disabled]="!editWatchListName.value.length"
                (onClick)="updatedWatchListName(editWatchListName.value)"
              />
            </div>
          </p-dialog>

          }
        </p-tabView>
      </ng-template>
    </p-card>
  </div>
</div>
<!-- Dialog boxes -->
<p-dialog
  header="Create watchList name"
  [modal]="true"
  [closable]="false"
  [visible]="createWatchListDialogVisible"
>
  <div class="flex flex-column gap-2">
    <label class="text-xs" for="watchList">Watchlist name </label>
    <input
      pInputText
      id="watchList"
      [(ngModel)]="createWatchListName"
      placeholder="Enter watchlist name"
    />
  </div>

  <div class="flex justify-content-end gap-2 mt-3">
    <p-button
      label="Cancel"
      size="small"
      severity="secondary"
      (onClick)="cancelNewWatchList()"
    />
    <p-button
      label="Save"
      size="small"
      [disabled]="!createWatchListName.length"
      (onClick)="createWatchList()"
    />
  </div>
</p-dialog>
