<div class="h-full flex flex-column gap-3">
  <h3 class="text-primary m-0 font-medium">Welcome to Finance Books!</h3>
  <div [style]="{ height: '50%' }">
    <p-card
      class="w-full flex-shrink-0"
      [style]="{
        height: '100%',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div class="p-3" [style]="{ 'background-color': '#f2f4f7' }">
            <h5 class="text-lg font-medium">Nifty 50 line chart</h5>
          </div>
          <div class="p-3 flex justify-content-between">
            <div class="flex flex-column justify-content-center">
              <h2 class="font-medium">24,823.15</h2>
              <p class="text-green-500">+11.65(0.047%)</p>
            </div>
            <div class="flex gap-4">
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Open</p>
                <p class="font-semibold">24,845.40</p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Prev close</p>
                <p class="font-semibold">24,845.40</p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Low</p>
                <p class="font-semibold">24,845.40</p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">High</p>
                <p class="font-semibold">24,845.40</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div id="chart-container"></div>
    </p-card>
  </div>

  <div class="flex gap-3 w-full" [style]="{ height: '45vh' }">
    <p-card
      [style]="{
        height: '100%',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
      class="w-full"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div
            class="px-3 pt-3 flex justify-content-between align-items-center"
          >
            <h5 class="text-base font-medium">Nifty 200 stocks</h5>
            <p-button
              label="View all"
              size="small"
              [style]="{ 'font-weight': 500, 'font-size': '16px' }"
              [text]="true"
              [link]="true"
            />
          </div>
        </div>
      </ng-template>
      <div
        class="px-3 pt-3 overflow-auto"
        [style]="{ height: innerHeight - 636 + 'px', }"
      >
        @for (item of nifty200; track $index) { @if($index){
        <p-divider />
        }
        <div class="flex justify-content-between align-items-center">
          <div class="flex align-items-center gap-2">
            <p-button
              icon="pi pi-plus"
              size="small"
              [style]="{
                padding: '0px',
                width: '16px',
                'border-radius': '0px'
              }"
              [outlined]="true"
              (click)="watchListData[activeTabViewIndex].stocks.push(item)"
            />

            <p class="text-sm font-normal">{{ item.trading_symbol }}</p>
          </div>
          <div class="flex flex-column align-items-end">
            <p>
              {{
                getLiveItem(item.instrument_token, "current")
                  ? getLiveItem(item.instrument_token, "current")
                  : "-"
              }}
            </p>
            <div
              class="flex text-xs"
              [ngStyle]="
                getLiveItem(item.instrument_token, 'change') < 0
                  ? { color: 'red' }
                  : { color: 'green' }
              "
            >
              <span class="mr-2">{{
                (
                  getLiveItem(item.instrument_token, "current") -
                  getLiveItem(item.instrument_token, "close")
                ).toFixed(2)
              }}</span>

              (<span
                >{{
                  getLiveItem(item.instrument_token, "change").toFixed(2)
                }}%</span
              >)
            </div>
          </div>
        </div>

        <!-- <p-overlayPanel
          #op
          [style]="{ padding: '0px' }"
          [showCloseIcon]="false"
        >
          <ng-template pTemplate="content" ()>
            <div class="flex flex-column">
              <p class="text-sm">Select watchList</p>
              <p-divider />
              @for (watchList of watchListData; track watchList._id) {
              <p
                class="text-sm cursor-pointer my-1"
                (click)="updateWatchList(op, $event, item, watchList._id)"
              >
                {{ watchList.watchListName }}
              </p>
              }
            </div>
          </ng-template>
        </p-overlayPanel> -->
        } @empty {
        <li>There are no items.</li>
        }
      </div>
    </p-card>

    <p-card
      [style]="{
        height: '100%',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
      class="w-full flex-grow-1"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div
            class="px-3 py-2 flex justify-content-between align-items-center"
          >
            <h5 class="text-base font-medium">My watchlist</h5>
            <p-button
              label="20 Items"
              size="small"
              [style]="{ 'font-weight': 500, 'font-size': '16px' }"
              [text]="true"
            />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="subHeader" [style]="{ padding: '0px' }">
        <p-tabView
          [style]="{ padding: '0px', 'font-size': '12px' }"
          (activeIndexChange)="this.activeTabViewIndex = $event"
          [activeIndex]="activeTabViewIndex"
        >
          @for( watchList of watchListData;track watchList.watchListName){
          <p-tabPanel>
            <ng-template pTemplate="header">
              @if(editWatchListId===watchList._id){
              <input
                type="text"
                pInputText
                [value]="
                  this.watchListData[this.activeTabViewIndex].watchListName
                "
                (keyup.enter)="updateWatchListName($event)"
                (blur)="updateWatchListName($event)"
              />
              }@else {
              <div (dblclick)="editWatchListId = watchList._id">
                {{ watchList.watchListName }}
              </div>
              }
            </ng-template>
            @for(stock of watchList.stocks;track $index){ @if($index){
            <p-divider />
            }
            <div class="flex justify-content-between">
              <div class="flex align-items-center gap-2">
                <i
                  class="pi pi-trash cursor-pointer"
                  [style]="{ 'font-size': '14px', color: 'tomato' }"
                  (click)="deleteWatchListItem($index)"
                ></i>
                <div>
                  {{ stock.name }}
                </div>
              </div>
              <div class="flex flex-column align-items-end">
                <p>
                  {{
                    getLiveItem(stock.instrument_token, "current")
                      ? getLiveItem(stock.instrument_token, "current")
                      : "-"
                  }}
                </p>
                <div
                  class="flex text-xs"
                  [ngStyle]="
                    getLiveItem(stock.instrument_token, 'change') < 0
                      ? { color: 'red' }
                      : { color: 'green' }
                  "
                >
                  <span class="mr-2">{{
                    (
                      getLiveItem(stock.instrument_token, "current") -
                      getLiveItem(stock.instrument_token, "close")
                    ).toFixed(2)
                  }}</span>

                  (<span
                    >{{
                      getLiveItem(stock.instrument_token, "change").toFixed(2)
                    }}%</span
                  >)
                </div>
              </div>
            </div>
            }
          </p-tabPanel>
          }
        </p-tabView>
      </ng-template>
    </p-card>
  </div>
</div>
