<div class="h-full flex flex-column gap-3">
  <h3 class="text-primary m-0 font-medium">Welcome to Finance Books!</h3>
  <div [style]="{ height: '50%' }">
    <p-card
      class="w-full flex-shrink-0"
      [style]="{
        height: '100%',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div class="p-3" [style]="{ 'background-color': '#f2f4f7' }">
            <h5 class="text-lg font-medium">Nifty 50 line chart</h5>
          </div>
          <div class="p-3 flex justify-content-between">
            <div class="flex flex-column justify-content-center">
              <h2 class="font-medium">24,823.15</h2>
              <p class="text-green-500">+11.65(0.047%)</p>
            </div>
            <div class="flex gap-4">
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Open</p>
                <p class="font-semibold">24,845.40</p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Prev close</p>
                <p class="font-semibold">24,845.40</p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">Low</p>
                <p class="font-semibold">24,845.40</p>
              </div>
              <div>
                <p class="font-sm" [style]="{ color: '#a4acba' }">High</p>
                <p class="font-semibold">24,845.40</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div id="chart-container"></div>
    </p-card>
  </div>

  <div class="flex gap-3 w-full" [style]="{ height: '45vh' }">
    <p-card
      [style]="{
        height: '100%',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
      class="w-full"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div class="p-3 flex justify-content-between align-items-center">
            <h5 class="text-base font-medium">Nifty 200 stocks</h5>
            <p-button
              label="View all"
              size="small"
              [style]="{ 'font-weight': 500, 'font-size': '16px' }"
              [text]="true"
              [link]="true"
            />
          </div>
        </div>
      </ng-template>
      <div
        class="px-3 overflow-auto"
        [style]="{ height: innerHeight - 640 + 'px' }"
      >
        @for (item of nifty200; track item) {
        <div class="flex justify-content-between">
          <h5>{{ item }}</h5>
        </div>
        } @empty {
        <li>There are no items.</li>
        }
      </div>
    </p-card>

    <p-card
      [style]="{
        height: '100%',
        overflow: 'hidden',
        border: ' solid 1px #e6e9ed',
        'box-shadow': 'unset'
      }"
      class="w-full flex-grow-1"
    >
      <ng-template pTemplate="header">
        <div class="h-full">
          <div
            class="px-3 py-2 flex justify-content-between align-items-center"
          >
            <h5 class="text-base font-medium">My watchlist</h5>
            <p-button
              label="20 Items"
              size="small"
              [style]="{ 'font-weight': 500, 'font-size': '16px' }"
              [text]="true"
            />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="subHeader" [style]="{ padding: '0px' }">
        <p-tabView [style]="{ padding: '0px', 'font-size': '12px' }">
          <p-tabPanel header="Header I">
            <p>Lorem ipsum dolor sit amet...</p>
          </p-tabPanel>
          <p-tabPanel header="Header II">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium...
            </p>
          </p-tabPanel>
          <p-tabPanel header="Header III">
            <p>At vero eos et accusamus et iusto odio dignissimos...</p>
          </p-tabPanel>
        </p-tabView>
      </ng-template>
    </p-card>
  </div>
</div>
