/* .sidebar-shadow {
  box-shadow: 2px 0 4px -1px #0003, 4px 0 5px #00000024, 1px 0 10px #0000001f;
} */
/* .nav-shadow {
  box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
} */
.icon-img {
  width: 16px;
  height: 16px;
  font-weight: bold;
}
