<div class="h-screen flex flex-column">
  <div
    class="h-3rem w-full bg-white px-3 py-2 nav-shadow flex justify-content-between align-items-center"
  >
    <img height="100" width="100" src="assets/images/logos/stocx.png" />
    <div class="flex align-items-center gap-3">
      <!-- notification -->
      <i class="pi pi-bell"></i>
      <!-- user avatar -->
      <p-button
        (onClick)="op.toggle($event)"
        [link]="true"
        [style]="{ padding: '0px' }"
        [rounded]="true"
      >
        <p-avatar [label]="getUserAvatarName('avatar')" shape="circle" />
      </p-button>
    </div>
  </div>

  <div class="flex-grow-1">
    <div class="flex h-full">
      <div
        class="w-18rem sidebar-shadow flex flex-column align-items-center h-full p-3"
      >
        <p-menu [model]="items" class="w-full">
          <ng-template pTemplate="item" let-item>
            <a
              pRipple
              class="flex align-items-center p-menuitem-link mb-2"
              [ngClass]="{'active-route': isLinkActive(item.routerLink)}"
              [routerLink]="item.routerLink"
            >
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-template>
        </p-menu>

      </div>

      <div class="w-full h-full p-3" style="background-color: #f7f7f7">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- User overlay panel -->
<p-overlayPanel #op>
  <div class="flex align-items-center">
    <p-avatar
      [label]="getUserAvatarName('avatar')"
      styleClass="mr-2"
      shape="circle"
    />
    <div>
      <p>{{ getUserAvatarName("fullName") }}</p>
      <p class="text-xs">{{ getUserAvatarName() }}</p>
    </div>
  </div>
  <p-divider />
  <p-button
    label="Change Password"
    [style]="{ 'font-weight': 400 }"
    [text]="true"
    (onClick)="changePassword = true"
    [size]="'small'"
    [outlined]="false"
  />
  <p-toast />
  <p-confirmPopup />
  <p-button
    (click)="userLogoutEvent()"
    label="Logout"
    severity="danger"
    [outlined]="false"
    [size]="'small'"
    [text]="true"
  />
</p-overlayPanel>
<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="changePassword"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
    <span class="p-text-secondary block mb-5">Update your information.</span>
    <div class="flex flex-column gap-1 mb-2">
      <label for="password" class="text-xs font-medium">Current password</label>
      <p-password
        [toggleMask]="true"
        formControlName="currentPassword"
        placeholder="Enter your current password"
        id="password"
        [style]="{
              width:'100%',
            }"
        [inputStyle]="{
          width: '100%',
          height: '32px',
          padding: '8px',
          color: '#667085',
          'font-weight': 500
        }"
      />

      @if(formControl['currentPassword'].dirty){
      <small id="email-error" class="text-xs p-error block">
        @if(formControl['currentPassword'].errors?.['required']){
        <p>Please input your Current Password!</p>
        }
      </small>
      }
    </div>
    <div class="flex flex-column gap-1 mb-2">
      <label for="password" class="text-xs font-medium">Password</label>
      <p-password
        [toggleMask]="true"
        formControlName="password"
        placeholder="Enter your password"
        id="password"
        (ngModelChange)="updateConfirmValidator()"
        [style]="{
              width:'100%',
            }"
        [inputStyle]="{
          width: '100%',
          height: '32px',
          padding: '8px',
          color: '#667085',
          'font-weight': 500
        }"
      />
      @if(changePasswordForm.valid||changePasswordForm.pristine){
      <small id="password-help" class="text-bluegray-400 text-xs">
        Password must be at least 8 characters.
      </small>
      }@else if(formControl['password'].dirty){

      <small id="email-error" class="text-xs p-error block">
        @if(formControl['password'].errors?.['required']){
        <p>Please input your Password!</p>
        }@else if(formControl['password'].errors?.['pattern']){
        <p>
          Use 8 or more characters with a mix of letters (A-Z & a-z), numbers &
          symbols.
        </p>
        }
      </small>
      }
    </div>
    <div class="flex flex-column gap-1 mb-2">
      <label for="confirmPassword" class="text-xs font-medium"
        >Confirm password</label
      >
      <p-password
        [toggleMask]="true"
        formControlName="confirmPassword"
        placeholder="Re-enter your password"
        id="confirmPassword"
        [style]="{
              width:'100%',
            }"
        [inputStyle]="{
          width: '100%',
          height: '32px',
          padding: '8px',
          color: '#667085',
          'font-weight': 500
        }"
      />
      @if(formControl['confirmPassword'].dirty){
      <small id="email-error" class="text-xs p-error block">
        @if ( formControl['confirmPassword'].errors) {
        @if(formControl['confirmPassword'].errors['required']) {
        <p class="proxima-14 error mt-1">Confirm password is required</p>
        }@if(formControl['confirmPassword'].errors['confirm']) {
        <p class="proxima-14 error mt-1">Password doesn't match</p>
        } }
      </small>
      }
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="changePassword = false"
      />
      <p-button label="Save" type="submit" />
    </div>
  </form>
</p-dialog>
