<p-dialog
  [modal]="true"
  closable="false"
  [visible]="!!moveItem"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw',height: 'fit-content' }"
>
<ng-template pTemplate="header">
  <h5>Move Folder <span style="color: rgb(72, 108, 226);font-weight: 700;">{{ moveItem.fileUrl ? moveItem?.file.filename : moveItem?.name }}</span></h5>
</ng-template>
  <div class="flex gap-2 align-items-center">
    @if(currentFolder.parentFolderId){

    <i
      (click)="BackToParent()"
      class="pi pi-arrow-left text-primary m-0 font-medium"
      style="font-size: 15px; cursor: pointer"
    ></i>
    }
    <h3 class="text-primary m-0 font-medium">{{ currentFolder.name }}</h3>
  </div>
  <div class="h-24rem py-2">
    <p-table [value]="tableData" loadingIcon="pi pi-spin pi-spinner" [loading]="tableLoading" [style]="{'height': '100%'}" >
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Size</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [style]="{'background-color':rowData._id===moveItem?._id?'#D7D7D7':'','cursor':rowData._id===moveItem?._id?'no-drop':'pointer'}">
          <td>
            <i
              [class]="rowData?.file ? 'pi pi-file' : 'pi pi-folder'"
            ></i>
          </td>
          <td (click)="navigateToChildFolder(rowData._id)" >
            {{ rowData.name }}
          </td>
          <td  >
            {{ rowData.count }}
          </td>
          </tr>
          </ng-template>
  </p-table>
  </div>

  <div class="flex justify-content-end  gap-2">
    <p-button label="Cancel" severity="secondary" (click)="cancelMoveFn()" />
    <p-button label="Move Here" [loading]="moveBtnLoading" (onClick)="moveItemFn()"  [disabled]="isSameParentFolder"  />
  </div>
  
</p-dialog>
