/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex//primeflex.css";
@import "primeicons/primeicons.css";
body {
  margin: 0px;
}
.p-menu {
  border: none;
  width: 100%;
}
.active-route {
  font-weight: 700;
  background-color: #e2e8f0;
  border-radius: 8px;
}
.p-menu .p-menuitem > .p-menuitem-content {
  border-radius: 8px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 2px;
  padding: 2px;
}
.p-button-label {
  font-weight: 600;
}
.p-card .p-card-content {
  padding: 0px;
}
.p-card .p-card-body {
  padding: 0px;
}
.pi {
  line-height: 0;
}
.p-button.p-button-sm .p-button-icon {
  font-size: 0.5rem;
}
.p-divider.p-divider-horizontal {
  padding: 0px;
  margin: 2px;
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 10px;
}
.p-inputtext {
  padding: 4px;
  font-size: 12px;
}
.p-button-label {
  font-weight: 500;
}
